:root {
  /* colors */
    --color-foreground: #ffffff; 
    --color-background: #0e0e27; 

  /* spacing */ 
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;
    --spacing-xlarge: 4rem;      

}
@font-face {
  font-family:'roboto-condensed';
  src: url(../assets/fonts/roboto-condensed.ttf);
}